<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 21:53:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 21:59:07</td>   <td>329870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:03:54</td>   <td>616906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:09:28</td>   <td>950829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:17:27</td>   <td>1430144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:24:04</td>   <td>1827295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:25:16</td>   <td>1899550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:30:26</td>   <td>2209484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">feature</td> 
  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 21:53:32</td>   <td>-4285</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUpClass()[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1668627309</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/01 22:35:54</td>   <td>2537025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.testDownClass()[pri:0, instance:com.HRA.testrunner.TestRunner@59ec2012]">&lt;&lt;testDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1668627309</td>   <td></td> </tr>
</table>
